h3{
  color: #213E3B;
  font-family: "Ubanthu";
  font-weight: bold;
  font-size: 2.5rem;
  margin-inline-start: 15px;
  margin-block-start: 0;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px;
}

.logo {
  position: relative;
  top: 30px;
}

.plogo {
  position: relative;
  top: 80px;
  left: 80px;
}


ul {
  margin-block-end: 0;
  margin-inline-start: 5px;
  padding: 20px;
  font-family: "Ubanthu";
  font-size: 1.5rem;
  margin-left: 80px;
}

li {
  padding: 20px;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #0B0C10;
  color: #393E46;
}

.white-section {
  background-color: #393E46;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}



/* Title Section */

#title {
  background-color: #41AEA9;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  position: absolute;
  right: 5%;
}

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#gpay {
  background-color: #51C4D3;

  margin: 0;
  padding: 0;
}

#PhonePe {
  background-color: #E8FFFF;
  margin-left: 20px;
  margin: 0;
  padding: 0;
}

#Paytm {
  background-color: #fff;

  margin: 0;
  padding: 0;
}

#BHIM {
  background-color: #fff;

  margin: 0;
  padding: 0;

}



@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #213E3B;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #41AEA9;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #213E3B;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #41AEA9;
}

input::placeholder, textarea::placeholder {
  color: #213E3B;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #41AEA9;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #213E3B;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #41AEA9;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #E8FFFF;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #41AEA9;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #E8FFFF;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #41AEA9;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #E8FFFF;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #41AEA9;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #E8FFFF;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #41AEA9;
}

body {
  font-family: 'Lato', sans-serif;
  background: #A6F6F1;
  color: #213E3B;
  overflow-x: hidden;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 500px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #213E3B;

  border: solid 1px #213E3B;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #41AEA9;
  color: #E8FFFF;
}

textarea {
  width: 500px;
  max-width: 500px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #41AEA9;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #213E3B;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #41AEA9;
  color: #E8FFFF;
}

#submit {
  width: 500px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #213E3B;

  outline:none;
  cursor: pointer;

  border: solid 1px #213E3B;
  border-top: none;
}

#submit:hover {
  color: #E8FFFF;
}
}
